body {
    background: rgb(247, 244, 244); 
}
a {
    color: black;
}
main {
    border: 3px solid goldenrod;
}
section {
    background: radial-gradient(rgb(226, 221, 221),rgba(148, 147, 147, 0.863));  
    border: 1px solid blanchedalmond;
        .leader {
        color: goldenrod;
        }
        .leader2 {
            color: whitesmoke;
            }
}