@import "transiciones";
@import "colores";
@import "tamanios";

body {
    /*CSS INDEX*/
    margin: 35px;
    padding: 0;
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        
    }
    li {
        list-style: none;
    }
    h1 { 
        padding: 20px;
        font-size: 7rem;
    }
    .pages {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: bold;
        padding: 10px;
        box-shadow: 0px 0px 10px 6px,    
    }
    main {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    section {
        margin-bottom: 50px; 
    }
    .newsletter {
        margin-left:  20px;
    }
    .redes {
        font-weight: bold;
    }
    footer {
        margin-top: 50px;
        font-weight: bold;
        font-size: 12px;
        
    }
    /*CSS CAMISAS*/
    .camisas-hombre {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    /*CSS REGISTRO*/

    .registro {
        margin-top: 100px;
        margin-bottom: 200px;
    }
    /*CSS AYUDA*/
    .ayuda {
        margin-top: 100px;
        margin-bottom: 200px;
    }

}
